*~
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.log
/config.status
/configure
/COPYING
/depcomp
.deps/
*.in
/INSTALL
/libtool
*.log
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
Makefile
*.o
*.orig
/stamp-h1
tags
/test-driver
*.trs
